//CORES

$corPrimaria: #1E3A8A;
$corSecundaria: #00B4D8;
$corBranco: #fff;
$corPreto: #000;
$corCinza: #ccc;
$corBrancoEscuro: #F0F8FD;

//FONTES
$fontePrimaria: "Orbitron", sans-serif;
$fonteSecundaria: "Roboto", sans-serif;

//DISPOSITIVOS
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1124px)";